# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.png
*.jpg
*.css
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.js
*.less
*.jsp